:root {
  --heading-font: "Playfair Display", serif;
  --content-font: "Poppins", sans-serif;
  --branding-color: #6d42c7;
  --background-color: #8aacff;
}
body {
  font-family: var(--content-font);
  color: black;
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 96px;
  line-height: 110px;
  margin: 8px 0 25px 0;
  font-weight: bold;
}
h2 {
  font-size: 64px;
}

.page-hero {
  text-align: center;
  padding: 100px 20px;
  background: var(--background-color);
}
.page-hero h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  font-family: var(--content-font);
  opacity: 70%;
}

.page-hero p {
  font-size: 36px;
  opacity: 70%;
  font-weight: bold;
  margin: 0;
}
.btn-branding {
  background: var(--branding-color);
  color: black;
  padding: 20px 40px;
  font-size: 18px;
  line-height: 27px;
  transition: All 200ms ease-in-out;
}
.btn-branding:hover {
  background: var(--branding-color);
  color: white;
}
.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: black;
  padding: 20px 40px;
  font-size: 18px;
  line-height: 27px;
  transition: All 200ms ease-in-out;
}
.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}
.brands {
  color: #e85b48;
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 46px;
    line-height: 48px;
  }

  .page-hero p {
    font-size: 22px;
  }
  .page-hero h2 {
    font-size: 18px;
  }

  .btn-branding {
    font-size: 16px;
    line-height: 20px;
  }
}
