:root {
  --heading-font: "Playfair Display", serif;
  --content-font: "Poppins", sans-serif;
  --branding-color: #6c63ff;
  --background-color: #f0fbff;
  --secondary-color: #e85b48;
}
body {
  font-family: var(--content-font);
  color: black;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 96px;
  line-height: 110px;
  margin: 8px 0 25px 0;
  font-weight: bold;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}
p {
  opacity: 70%;
  line-height: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 15px 0 0 0;
  margin: 0;
}
nav li {
  margin-left: 20px;
  color: black;
}

footer {
  background: var(--background-color);
  margin-top: 100px;
  padding: 40px;
  border-radius: 10px;
}

footer p {
  color: var(--secondary-color);
  font-weight: bold;
}
footer .handshake {
  color: var(--secondary-color);
  font-weight: bold;
}

footer .btn-branding {
  margin: 30px 0 0 140px;
}
small {
  text-align: center;
}
small a {
  color: var(--secondary-color);
  font-weight: bold;
  margin-left: 5px;
}
.page-content {
  margin-top: 100px;
}
.page-content h1 {
  font-size: 64px;
  line-height: 70px;
}

.page-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: var(--content-font);
}
.page-content h4 {
  text-align: center;
  font-weight: bold;
}
.page-content-work p {
  text-align: center;
}

.hobbie-project-img {
  width: 500px;
  display: flex;
  margin: 0 0 20px 25px;
  border-radius: 6px;
}

.coding-technologies {
  color: var(--secondary-color);
}
.photo {
  border-radius: 6px;
  margin-left: 50px;
}
.navigation-link {
  text-decoration: none;
}
.active {
  color: var(--branding-color);
  font-weight: bold;
}

.nav-background {
  background: #ea8b7f;
}

.page-hero {
  text-align: center;
  padding: 100px 20px;
  background: var(--background-color);
}
.page-hero h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  font-family: var(--content-font);
  opacity: 70%;
}

.page-hero p {
  font-size: 36px;
  color: var(--secondary-color);
  font-weight: bold;
  margin: 0;
}
.btn-branding {
  background: var(--branding-color);
  color: black;
  padding: 20px 40px;
  font-size: 18px;
  line-height: 27px;
  transition: All 200ms ease-in-out;
}
.btn-branding:hover {
  background: var(--secondary-color);
  color: white;
}
.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: black;
  padding: 20px 40px;
  font-size: 18px;
  line-height: 27px;
  transition: All 200ms ease-in-out;
}
.btn-branding-outline:hover {
  background: var(--secondary-color);
  color: white;
}
.project-into-paragraph {
  color: var(--secondary-color);
  font-weight: bold;
  opacity: 100%;
}
.brands {
  color: var(--secondary-color);
  font-size: 30px;
  margin-bottom: 20px;
}
.SheCodes-link {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}
.contact-details .email-link {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--branding-color);
  margin: 10px 0 30px 0;
}
.contact-details .email-link:hover {
  color: var(--secondary-color);
}
.contact-details .social-links {
  font-size: 25px;
  color: var(--branding-color);
  transition: All 200ms ease-in-out;
}
.contact-details .social-links:hover {
  color: var(--secondary-color);
}
.weather-img {
  margin-bottom: 110px;
}
.project-img {
  display: block;
  margin: auto;
}
.contact-brand {
  font-size: 50px;
  color:var(--secondary-color)
}
.contact-brand:hover {
  font-size: 50px;
  color:var(--branding-color)
}

@media (max-width: 900px) {
  h1 {
    font-size: 46px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
  }
  nav ul {
    padding: 10px 0 10px 30px;
  }

  .page-hero {
    padding: 80px 20px;
  }

  .page-hero p {
    font-size: 22px;
  }
  .page-hero h2 {
    font-size: 18px;
  }

  .btn-branding {
    font-size: 16px;
    line-height: 20px;
  }
  .project-into-paragraph {
    margin: 0;
  }
  .project-content {
    text-align: center;
  }
}
